<template>
    <div id="ag-canvas">
        <section v-for="stream in streamList" :id="('ag-item-'+stream.pc.videoSessionId)" class="ag-item" style="grid-area: span 12/span 24" :key="stream.pc.videoSessionId">
        <!-- <a @click="subscriberIceRestart(stream.pc)">Restart Ice</a> -->
            <div :id="'player_'+stream.pc.videoSessionId" style="width: 100%; height: 100%; position: relative; background-color: black; overflow: hidden;">
                <!-- <p class="roll">{{stream.pc.roll}}</p> -->
                <video v-if="stream.pc.roll === 'subscriber'" :id="'video'+stream.pc.videoSessionId" :ref="'video'+stream.pc.videoSessionId"
                  style="width: 100%; height: 100%; position: absolute; object-fit: cover;"
                  autoplay playsinline disablePictureInPicture muted @click="playVideo('video'+stream.pc.videoSessionId)">
                </video>
                <video v-if="stream.pc.roll === 'publisher'" :id="'video'+stream.pc.videoSessionId" :ref="'video'+stream.pc.videoSessionId"
                  style="width: 100%; height: 100%; position: absolute; object-fit: cover;"
                  autoplay playsinline disablePictureInPicture muted @click="playVideo('video'+stream.pc.videoSessionId)">
                </video>
                <audio v-if="stream.pc.roll === 'subscriber'" :id="'audio'+stream.pc.videoSessionId" :ref="'audio'+stream.pc.videoSessionId" autoplay="true"></audio>
                <!-- <audio v-if="stream.pc.roll === 'publisher'" :id="'audio'+stream.pc.videoSessionId" :ref="'audio'+stream.pc.videoSessionId" autoplay="true" muted="true"></audio> -->
                <!-- <vue-video
                v-if="stream.pc.roll === 'subscriber'" :id="'video'+stream.pc.videoSessionId" :ref="'video'+stream.pc.videoSessionId"
                :options="{
                    src: '',
                    poster: '',
                    controlBar: false,
                    spinner: 'circles',
                    fullscreen: false,
                }"
                :autoPlay="true"
                :muted="false"
                >
                </vue-video>
                <vue-video
                v-if="stream.pc.roll === 'publisher'" :id="'video'+stream.pc.videoSessionId" :ref="'video'+stream.pc.videoSessionId"
                :options="{
                    src: '',
                    poster: '',
                    controlBar: false,
                    spinner: 'circles',
                    fullscreen: false,
                }"
                :autoPlay="true"
                :muted="true"
                >
                </vue-video> -->
                <!-- <a class="playButton" v-if="$refs['video'+stream.pc.videoSessionId] !== undefined && $refs['video'+stream.pc.videoSessionId].paused">
                <svgicon id="playIcon" icon="play-button" type="image/svg+xml" :original="true">
                </svgicon>
                </a> -->
                <!-- <audio
                :id="'audio'+stream.pIvideoSessionId" autoplay="" muted=""
                playsinline="">
                </audio> -->
        </div>
      </section>
      <section v-for="stream in streamList1" :id="('ag-item-'+stream.pc.videoSessionId)" class="ag-item" style="grid-area: span 12/span 24" :key="stream.pc.videoSessionId">
        <!-- <a @click="subscriberIceRestart(stream.pc)">Restart Ice</a> -->
            <div :id="'player_'+stream.pc.videoSessionId" style="width: 100%; height: 100%; position: relative; background-color: black; overflow: hidden;">
                <!-- <p class="roll">{{stream.pc.roll}}</p> -->
                <video v-if="stream.pc.roll === 'subscriber'" :id="'video'+stream.pc.videoSessionId" :ref="'video'+stream.pc.videoSessionId"
                  style="width: 100%; height: 100%; position: absolute; object-fit: cover;"
                  autoplay playsinline disablePictureInPicture muted @click="playVideo('video'+stream.pc.videoSessionId)">
                </video>
                <video v-if="stream.pc.roll === 'publisher'" :id="'video'+stream.pc.videoSessionId" :ref="'video'+stream.pc.videoSessionId"
                  style="width: 100%; height: 100%; position: absolute; object-fit: cover;"
                  autoplay playsinline disablePictureInPicture muted @click="playVideo('video'+stream.pc.videoSessionId)">
                </video>
                <audio v-if="stream.pc.roll === 'subscriber'" :id="'audio'+stream.pc.videoSessionId" :ref="'audio'+stream.pc.videoSessionId" autoplay="true"></audio>
                <!-- <audio v-if="stream.pc.roll === 'publisher'" :id="'audio'+stream.pc.videoSessionId" :ref="'audio'+stream.pc.videoSessionId" autoplay="true" muted="true"></audio> -->
                <!-- <vue-video
                v-if="stream.pc.roll === 'subscriber'" :id="'video'+stream.pc.videoSessionId" :ref="'video'+stream.pc.videoSessionId"
                :options="{
                    src: '',
                    poster: '',
                    controlBar: false,
                    spinner: 'circles',
                    fullscreen: false,
                }"
                :autoPlay="true"
                :muted="false"
                >
                </vue-video>
                <vue-video
                v-if="stream.pc.roll === 'publisher'" :id="'video'+stream.pc.videoSessionId" :ref="'video'+stream.pc.videoSessionId"
                :options="{
                    src: '',
                    poster: '',
                    controlBar: false,
                    spinner: 'circles',
                    fullscreen: false,
                }"
                :autoPlay="true"
                :muted="true"
                >
                </vue-video> -->
                <!-- <a class="playButton" v-if="$refs['video'+stream.pc.videoSessionId] !== undefined && $refs['video'+stream.pc.videoSessionId].paused">
                <svgicon id="playIcon" icon="play-button" type="image/svg+xml" :original="true">
                </svgicon>
                </a> -->
                <!-- <audio
                :id="'audio'+stream.pIvideoSessionId" autoplay="" muted=""
                playsinline="">
                </audio> -->
        </div>
      </section>
      <div class="connectionButtonContainer">
        <a id="connectionButton" @click="initCdn()">Start Connection</a>
        <!-- <a id="connectionButton" @click="bindName()">Publish</a> -->
        <a id="connectionButton" @click="cdn.startRecording()">Start Recording</a>
        <a id="connectionButton" @click="snapVideoElements">Take Snaps</a>
        <a id="connectionButton" @click="cdn.stopRecording()">Stop Recording</a>
        <a id="connectionButton" @click="cdn.requestAssetProcessing('medicosOutput', {
          dataPoints: [
            {
              'text': 'Note: Rohan looks fatigued \nLog ID: 000000000031 IP: 49.255.104.114\nTimestamp: 15/04/20 16:13:05.5',
              'time': 1
            },
            {
              'text': 'Note: Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum has been the industry\'s. standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book \nLog ID: 000000000032 IP: 49.255.104.114\nTimestamp: 15/04/20 16:13:42.2',
              'time': 2
            },
            {
              'text': 'Question: Is the patient a healthcare worker, aged care worker or residential care worker?\nAnswer: yes\nPrevious: no\nLog ID: 000000000033 IP: 49.255.104.114\nTimestamp: 15/04/20 16:14:02.0',
              'time': 3
            },
            {
              'text': 'Question: Interstate travel?\nAnswer: yes\nPrevious: no\nLog ID: 000000000033 IP: 49.255.104.114\nTimestamp: 15/04/20 16:14:08.0',
              'time': 4
            }
          ]
        })">Request Asset Processing</a>
        <a id="connectionButton" @click="cdn.deleteMedia()">Delete Media</a>
        Name: <input v-model="name"> Event Token: <input v-model="eventToken">
      </div>
      
      <!-- <a id="connectionButton" v-if="cdn.readyToPublish && !cdn.sentPublisherRequest" @click="cdn.joinEventPublisher()">Publish</a> -->
    </div>
</template>
<script>
import clapCdn from './index.js'
// import axios from 'axios'
import 'webrtc-adapter'

const tileCanvas = {
  '1': ['span 12/span 24'],
  '2': ['span 12/span 12/13/25', 'span 12/span 12/13/13'],
  '3': ['span 6/span 12', 'span 6/span 12', 'span 6/span 12/7/19'],
  '4': [
    'span 6/span 12',
    'span 6/span 12',
    'span 6/span 12',
    'span 6/span 12/7/13'
  ],
  '5': [
    'span 3/span 4/13/9',
    'span 3/span 4/13/13',
    'span 3/span 4/13/17',
    'span 3/span 4/13/21',
    'span 9/span 16/10/21'
  ],
  '6': [
    'span 3/span 4/13/7',
    'span 3/span 4/13/11',
    'span 3/span 4/13/15',
    'span 3/span 4/13/19',
    'span 3/span 4/13/23',
    'span 9/span 16/10/21'
  ],
  '7': [
    'span 3/span 4/13/5',
    'span 3/span 4/13/9',
    'span 3/span 4/13/13',
    'span 3/span 4/13/17',
    'span 3/span 4/13/21',
    'span 3/span 4/13/25',
    'span 9/span 16/10/21'
  ]
}

export default {
    data () {
      return {
        streamList: [],
        streamList1: [],
        readyToPublish: false,
        name: 'Publisher',
        eventToken: '4trWUtcbj12j5OndPlhlCoIcmT7kgtShstoS0oX-X00',
        cdn: {}
      }
    },
    created () {
        
    },
    updated () {
        if (this.cdn.update !== undefined) {
          this.cdn.update()
          let $ = this.cdn
          let no = $.streamList.length
          $.streamList.map((item, index) => {
            let id = item.pc.videoSessionId
            let dom = document.querySelector('#ag-item-' + id)
            dom.setAttribute('style', `grid-area: ${tileCanvas[no][index]}`)
          })
        }
    },
    methods: {
      initCdn: function () {
        var $$ = this
        // var sessionToken = null
        // if (localStorage.getItem('sessionToken')) {
        //   sessionToken = JSON.parse(localStorage.getItem('sessionToken'))
        //   console.log('SessionToken Loaded from Local Storage')
        // }

        // var data = JSON.stringify()

        // var config = {
        //   method: 'post',
        //   url: 'https://weallclap.com/api/autho/session',
        //   headers: { 
        //     'Content-Type': 'application/json'
        //   },
        //   data : {
        //     action:  "login",
        //     username: 'samuellehane',
        //     password: '3B57c9f725c5',
        //   }
        // }

        // axios(config)
        // .then(function (response) {
        //   console.log(JSON.stringify(response.data))

          $$.cdn = new clapCdn({
            username: 'samuellehane',
            password: '3B57c9f725c5',
            eventToken: $$.eventToken,
            url: 'wss://cdnd.inov.com.au/rcwc/',
            // sessionToken: response.data.sessionToken,
            sessionTokenCallback: $$.updateLocalSessionToken,
            name: $$.name,
            connectPublisherLoopback: true
          })

          // $$.cdn1 = new clapCdn({
          //   username: 'samuellehane',
          //   password: '3B57c9f725c5',
          //   eventToken: $$.eventToken,
          //   url: 'wss://cdnd.inov.com.au/rcwc/',
          //   // sessionToken: response.data.sessionToken,
          //   sessionTokenCallback: $$.updateLocalSessionToken,
          //   name: $$.name,
          //   connectPublisherLoopback: true,
          //   video: {
          //     facingMode: {
          //       ideal: "environment"
          //     }
          //   }
          // })
          
          // this.cdn = new clapCdn({
          //   // username: 'sam@inov.com.au',
          //   // password: '3B57c9f725',
          //   eventToken: this.eventToken,
          //   url: 'wss://weallclap.com/rcwc/',
          //   sessionToken: response.data.sessionToken,
          //   sessionTokenCallback: this.updateLocalSessionToken,
          //   name: this.name,
          //   renderWithCanvas: false,
          //   connectPublisherLoopback: true
          // })
          $$.streamList = $$.cdn.streamList
          // $$.streamList1 = $$.cdn1.streamList
          $$.readyToPublish = $$.cdn.readyToPublish
          // $$.readyToPublish1 = $$.cdn1.readyToPublish
          $$.bindName()
          // $$.bindName1()
          window.cdn = $$.cdn
          // window.cdn1 = $$.cdn1
        // })
        // .catch(function (error) {
        //   console.log(error)
        // })
      },
      playVideo: function (refId) {
        if (this.$refs[refId] !== undefined) {
          console.log('videoRef', this.$refs[refId])
          this.$refs[refId][0].play()
          this.$refs[refId][0].muted = false
          if (this.dashboard !== undefined) {
            console.log('DASHBOARD', this.dashboard)
            this.dashboard.audioMuted = false
          }
        }
      },
      updateLocalSessionToken: function (token) {
        localStorage.setItem('sessionToken', JSON.stringify(token))
      },
      bindName: function () {
        this.cdn.name = this.name
        this.cdn.requestToPublish()
        console.log('set name to', this.cdn.name)
      },
      // bindName1: function () {
      //   this.cdn1.name = this.name + '1'
      //   // this.cdn1.requestToPublish()
      //   console.log('set name to', this.cdn1.name)
      // },
      snapVideoElements: function () {
        var videoList = document.getElementsByTagName("video")
        for (var i = 0; i < videoList.length; i++) {
          var pngData = this.cdn.getVideoSnapshot(videoList[i])
          var link = document.createElement('a')
          link.download = 'filename.png'
          link.href = pngData
          link.click()
        }
      }
    }
}
</script>
<style>
body {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    margin: 0 0 0 0;
    font-family: Lato;
    color: yellow;
    background-color: black;
}
a {
  color: white;
  cursor: pointer;
}
.connectionButtonContainer {
  position: fixed;
  left: 0;
  top: 0;
}
a#connectionButton {
  position: relative;
  display: inline-block;
  padding: 10px 10px 10px 10px;
  background-color: darkblue;
  border-style: solid;
  border-width: 2px;
  border-radius: 15px;
}
#ag-canvas {
  height: 100%;
  /* height: calc(0px + 100% - 70px - 50px); */
  display: grid;
  grid-gap: 0px;
  align-items: center;
  justify-items: center;
  grid-template-rows: repeat(12, auto);
  grid-template-columns: repeat(24, auto);
  background-color: black;
}

/* .ag-item :first-child {
  border-radius: 5px;
} */
.ag-item {
  border-radius: 5px;
  border: 0px #00b6ed solid;
  height: 100%;
  width: 100%;
}

#ag-resize-container {
  background-image: none !important;
  background-color: black;
  display: flex;
  justify-content: center;
  height: center;
}

#ag-resize-container .ag-item {
  border: none !important;
}

/* button group */
.ag-btn-group {
  height: 70px;
  width: calc(0px + 100%);
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  background: transparent;
  z-index: 11;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ag-btn-group:hover,
.ag-btn-group.active {
  background: rgba(18, 74, 99, 0.8);
}

.ag-btn {
  z-index: 12;
  opacity: 0;
  color: white;
  /* width: 35px;
    height: 35px; */
  cursor: pointer;
  font-size: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.ag-btn:hover {
  color: #00b6ed;
}

.ag-btn.disabled,
.ag-btn.disabled:hover {
  color: #637c8e;
  cursor: not-allowed;
}

.ag-btn-group:hover .ag-btn,
.ag-btn-group.active .ag-btn {
  opacity: 1;
}
.ag-btn.off.videoControlBtn .ag-icon-camera {
  display: none;
}
.ag-btn.videoControlBtn .ag-icon-camera-off {
  display: none;
}
.ag-btn.videoControlBtn .ag-icon-camera {
  display: inline-block;
}
.ag-btn.off.videoControlBtn .ag-icon-camera-off {
  display: inline-block;
}
.ag-btn.off.audioControlBtn .ag-icon-mic {
  display: none;
}
.ag-btn.audioControlBtn .ag-icon-mic-off {
  display: none;
}
.ag-btn.audioControlBtn .ag-icon-mic {
  display: inline-block;
}
.ag-btn.off.audioControlBtn .ag-icon-mic-off {
  display: inline-block;
}

.ag-item video {
  top: 0;
  left: 0;
  width: 100% !important;
  /* height: auto !important; */
  object-fit: contain !important;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
}
.roll {
    position: absolute;
    z-index: 1000;
}
</style>